absl-py>=0.12.0
appdirs>=1.4.3
apturl>=0.5.2
argon2-cffi>=20.1.0
astroid>=2.4.2
async-generator>=1.10
attrs>=20.3.0
backcall>=0.2.0
bcrypt>=3.1.7
beautifulsoup4>=4.9.3
bleach>=3.2.2
blessed>=1.19.0
blinker>=1.4
blis>=0.7.4
-e git+ssh://git@github.com/etiennegalea/braindecode.git@cb694a849b4e3d9316a22aa1d5b4cb8422a59cdc#egg=Braindecode
Brlapi>=0.7.0
Brotli>=1.0.9
bs4>=0.0.1
cached-property>=1.5.1
cachetools>=4.2.1
catalogue>=2.0.3
certifi>=2019.11.28
cffi>=1.14.4
chardet>=3.0.4
chrome-gnome-shell>=0.0.0
click>=7.1.2
colorama>=0.4.3
command-not-found>=0.3
cryptography>=2.8
cupshelpers>=1.0
cycler>=0.10.0
cymem>=2.0.5
dash>=2.0.0
dash-bootstrap-components>=0.13.0
dash-core-components>=2.0.0
dash-html-components>=2.0.0
dash-table>=5.0.0
dbus-python>=1.2.16
de-core-news-sm>=3.0.0
decorator>=4.4.2
defer>=1.0.6
defusedxml>=0.6.0
distlib>=0.3.0
distro>=1.4.0
distro-info>==0.23ubuntu1
dnspython>=1.16.0
docker>=4.1.0
docker-compose>=1.25.0
dockerpty>=0.4.1
docopt>=0.6.2
Draobpilc>=0.3
duplicity>=0.8.12.0
en-core-web-sm>=3.0.0
entrypoints>=0.3
fastai>=2.5.2
fastbook>=0.0.18
fastcore>=1.3.26
fastdownload>=0.0.5
fasteners>=0.14.1
fastprogress>=1.0.0
fastrelease>=0.1.12
filelock>=3.0.12
Flask>=2.0.1
Flask-Compress>=1.10.1
Flask-Cors>=3.0.10
flyingcircus>=0.1.4.0
future>=0.18.2
gdown>=3.13.0
ghapi>=0.1.19
google-auth>=1.28.0
google-auth-oauthlib>=0.4.3
gpg>==1.13.1-unknown
graphviz>=0.17
grpcio>=1.36.1
h5py>=3.4.0
hiredis>=1.1.0
httplib2>=0.14.0
humanize>=3.2.0
idna>=2.8
importlib-metadata>=1.5.0
install>=1.3.4
ipykernel>=5.4.3
ipython>=7.19.0
ipython-genutils>=0.2.0
ipywidgets>=7.6.3
isort>=5.7.0
itsdangerous>=2.0.1
jedi>=0.18.0
Jinja2>=3.0.1
joblib>=1.0.1
jsonschema>=3.2.0
jupyter>=1.0.0
jupyter-client>=6.1.11
jupyter-console>=6.2.0
jupyter-core>=4.7.0
jupyterlab-pygments>=0.1.2
jupyterlab-widgets>=1.0.0
keyring>=18.0.1
kiwisolver>=1.2.0
kornia>=0.5.4
language-selector>=0.1
launchpadlib>=1.10.13
lazr.restfulclient>=0.14.2
lazr.uri>=1.0.3
lazy-object-proxy>=1.4.3
llvmlite>=0.31.0
lockfile>=0.12.2
louis>=3.12.0
macaroonbakery>=1.3.1
Markdown>=3.3.4
MarkupSafe>=2.0.1
matplotlib>=3.2.0
mccabe>=0.6.1
mistune>=0.8.4
mne>=0.23.2
moabb>=0.4.2
monotonic>=1.5
more-itertools>=4.2.0
murmurhash>=1.0.5
nbclient>=0.5.1
nbconvert>=5.6.1
nbdev>=1.1.22
nbformat>=5.1.2
nest-asyncio>=1.4.3
netifaces>=0.10.4
notebook>=6.2.0
numba>=0.48.0
numpy>=1.21.2
oauthlib>=3.1.0
olefile>=0.46
opencv-python>=4.5.2.54
openshot-qt>=2.4.3
packaging>=20.8
pandas>=1.1.0
pandoc>=1.1.0
pandocfilters>=1.4.3
paramiko>=2.6.0
parso>=0.8.1
pathy>=0.5.2
pexpect>=4.6.0
pickleshare>=0.7.5
Pillow>=8.1.1
plotly>=5.3.1
plumbum>=1.7.0
ply>=3.11
pooch>=1.5.1
preshed>=3.0.5
prometheus-client>=0.9.0
prompt-toolkit>=3.0.11
protobuf>=3.19.0
proton-client>=0.7.0
protonvpn-cli>=3.10.0
protonvpn-gui>=1.4.1
protonvpn-nm-lib>=3.5.0
psutil>=5.8.0
ptyprocess>=0.7.0
pyasn1>=0.4.8
pyasn1-modules>=0.2.8
pycairo>=1.16.2
pycparser>=2.20
pycrypto>=2.6.1
pycups>=1.9.73
pydantic>=1.7.3
Pygments>=2.7.4
PyGObject>=3.36.0
PyJWT>=1.7.1
pylint>=2.6.0
pymacaroons>=0.13.0
PyNaCl>=1.3.0
pyOpenSSL>=19.0.0
pyparsing>=2.4.6
PyQt5>=5.14.1
pyRFC3339>=1.1
pyriemann>=0.2.7
pyrsistent>=0.17.3
python-apt>=2.0.0+ubuntu0.20.4.6
python-dateutil>=2.8.1
python-debian>==0.1.36ubuntu1
python-gnupg>=0.4.5
python3-keybinder>=1.1.2
python3-xlib>=0.15
pythondialog>=3.4.0
pytk>=0.0.2.1
pytz>=2019.3
pyxdg>=0.26
PyYAML>=5.3.1
pyzmq>=21.0.1
qtconsole>=5.0.1
QtPy>=1.9.0
redis>=3.5.3
reportlab>=3.5.34
requests>=2.22.0
requests-oauthlib>=1.3.0
requests-unixsocket>=0.2.0
resampy>=0.2.2
rsa>=4.7.2
scikit-learn>=1.0.1
scipy>=1.7.1
seaborn>=0.11.1
SecretStorage>=2.3.1
Send2Trash>=1.5.0
sentencepiece>=0.1.96
setuptools-scm>=6.3.2
simplejson>=3.17.5
sip>=4.19.21
six>=1.14.0
sklearn>=0.0
skorch>=0.10.0
smart-open>=3.0.0
soupsieve>=2.2.1
spacy>=3.0.6
spacy-legacy>=3.0.5
srsly>=2.4.1
systemd-python>=234
tabulate>=0.8.9
tenacity>=8.0.1
tensorboard>=2.4.1
tensorboard-plugin-wit>=1.8.0
terminado>=0.9.2
testpath>=0.4.4
texttable>=1.6.2
thinc>=8.0.3
threadpoolctl>=2.1.0
tk>=0.1.0
toml>=0.10.2
tomli>=1.2.1
torch>=1.9.0
torch-tb-profiler>=0.2.0
torchsummary>=1.5.1
torchtext>=0.9.1
torchvision>=0.10.1
tornado>=6.1
tqdm>=4.46.1
traitlets>=5.0.5
transformer-pytorch>=0.0.1
transitions>=0.8.10
typer>=0.3.2
typing-extensions>=3.7.4.3
ubuntu-advantage-tools>=27.2
ubuntu-drivers-common>=0.0.0
ufw>=0.36
unattended-upgrades>=0.1
urllib3>=1.25.8
usb-creator>=0.3.7
virtualenv>=20.0.17
wadllib>=1.3.3
wasabi>=0.8.2
wcwidth>=0.2.5
webencodings>=0.5.1
websocket-client>=0.53.0
Werkzeug>=2.0.1
widgetsnbextension>=3.5.1
wrapt>=1.12.1
xkit>=0.0.0
zipp>=1.0.0
